<%- include('partials/header.ejs'); -%>
    <h1>Compose</h1>
    <form action="compose" method="post">
        <div class="form-group">
            <label>Title</label>
            <input class="form-control" type="text" name="postTitle" placeholder="enter text"></input>
            <button name=button>Publish</button> <br/>
        </div>
        <div class="form-group ">
            <label>Post</label>
            <textarea class="form-control" name="postBody" cols="40" rows="5"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <footer class="footer-padding bg-light footer2">   
        <%-include('partials/footer.ejs');-%>
    </footer>